<template>
  <section>
    <div class="w-full bg-center bg-cover h-96">
      <div
        class="flex items-center justify-center w-full h-full bg-cyan-600"
        v-for="(text, i) in texts"
        :key="i"
      >
        <div class="text-center">
          <h1 class="text-2xl font-normal text-white uppercase lg:text-3xl">
            {{ text.tittle }}
          </h1>
          <h5 class="text-md font-mono text-white">
            {{ text.subtittle }}
          </h5>
          <button
            class="
              px-4
              py-2
              mt-4
              text-sm
              font-medium
              text-cyan-600
              uppercase
              transition-colors
              bg-white
              w-auto
              hover:bg-cyan-800 hover:text-white
            "
          >
            view our work
          </button>
        </div>
      </div>
    </div>
  </section>
  <photoGalery />
</template>

<script>
import { ref } from "@vue/reactivity";
import photoGalery from "../components/photoGalery.vue";

export default {
  name: "HomeView",
  components: {
    photoGalery,
  },
  setup() {
    let texts = ref([
      {
        tittle: "explore beyond horizon",
        subtittle:
          " magna mundi referreturn quo, no rebum di dsf fsd fdsf sd f sdf sdf sd f ds fsd f sd  ",
      },
    ]);
    return { texts };
  },
};
</script>
