<template>
  <footer class=" w-full p-4 bg-gray-300 text-gray-800 ">
      <div class="text-center">
        <p>
          Copyright © 2022 -
          <a class="font-semibold" 
            >Pablo Cesar García Camero</a
          >
        </p>
      </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>