<template>
  <header class="w-full top-0 z-50 fixed shadow-md">
    <nav class="md:flex bg-white link-router-active h-12">
      <div class="container">
        <div class="lg:flex lg:items-center lg:justify-between bg-white h-5">
          <div class="flex items-center justify-between bg-white-5">
            <img
              alt="IT logo"
              class="w-12 md:ml-32 ml-5 md:mt-2 -mt-2 "
              src="../assets/batlogo.jpg"
              @click="$router.push('/')"
            />

            <!-- Mobile menu button -->
            <div class="md:flex lg:hidden">
              <button
                @click="desplegar()"
                type="button"
                class="text-gray-500 d0 focus:outline-none focus:text-gray-600"
              >
                <svg viewBox="0 0 24 24" class="w-6 h-6 mr-5 -mt-5 fill-current">
                  <path
                    fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
          <div class="lg:flex" v-bind="{ block: showMenu, hidden: !showMenu }">
            <ul class="bg-white md:px-2 md:flex md:relative">
              <li class="bg-white lg:p-4 md:flex block items-center">
                <router-link to="/" class="text-sm font-semibold flex-wrap">
                  All
                </router-link>
              </li>

              <li
                class="lg:p-4 py-3 px-0 block font-sans font-semibold"
                @click="$router.push('#')"
              >
                <span>Branding</span>
              </li>
              <li
                class="lg:p-4 py-3 px-0 block font-sans font-semibold"
                @click="$router.push('#')"
              >
                <span>Web</span>
              </li>
              <li
                class="lg:p-4 py-3 px-0 block font-sans font-semibold"
                @click="$router.push('#')"
              >
                <span>Photography</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import { ref } from "@vue/reactivity";
export default {
  props: {
    array: Array,
  },
  setup() {
    let showMenu = ref(false);
    function desplegar() {
      showMenu.value = !showMenu.value;
    }
    return {
      desplegar,
      showMenu,
    };
  },
};
</script>

<style>
</style>
