<template>
  <div class="relative max-w-2xl mx-auto my-3">
    <div
      class="
        grid grid-cols-1
        gap-8
        mt-8
        md:grid-cols-2
        lg:grid-cols-3
        xl:grid-cols-4
      "
    >
      <div class="mx-auto">
        <span
          class="
            lg:p-4
            py-3
            px-0
            block
            font-sans font-semibold
            border-b-2 border-cyan-600
          "
          >All</span
        >
      </div>
      <div class="mx-auto">
        <span class="lg:p-4 py-3 px-0 block font-sans font-semibold"
          >Branding</span
        >
      </div>
      <div class="mx-auto">
        <span class="lg:p-4 py-3 px-0 block font-sans font-semibold">Web</span>
      </div>
      <div class="mx-auto">
        <span class="lg:p-4 py-3 px-0 block font-sans font-semibold"
          >Photography</span
        >
      </div>
    </div>

    <div class="mt-10">
      <button
        class="
          inline-flex
          items-center
          transition-colors
          duration-300
          ease-in
          focus:outline-none
          hover:text-blue-400
          focus:text-blue-400
          rounded-l-full
          px-4
          py-2
          active
        "
        @click="isPar = !isPar"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="fill-current w-4 h-4 mr-2"
          v-show="isPar"
        >
          <rect x="3" y="3" width="7" height="7"></rect>
          <rect x="14" y="3" width="7" height="7"></rect>
          <rect x="14" y="14" width="7" height="7"></rect>
          <rect x="3" y="14" width="7" height="7"></rect>
        </svg>
        <span v-show="isPar">Listar imágenes impares</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="fill-current w-4 h-4 mr-2"
          v-show="!isPar"
        >
          <line x1="8" y1="6" x2="21" y2="6"></line>
          <line x1="8" y1="12" x2="21" y2="12"></line>
          <line x1="8" y1="18" x2="21" y2="18"></line>
          <line x1="3" y1="6" x2="3.01" y2="6"></line>
          <line x1="3" y1="12" x2="3.01" y2="12"></line>
          <line x1="3" y1="18" x2="3.01" y2="18"></line>
        </svg>
        <span v-show="!isPar">Listar imágenes pares</span>
      </button>

      <div class="grid grid-cols-4 gap-0.5 mt-2 md:p-0 p-5">
        <div class="" v-for="(imagen, i) in imagenesFilter" :key="i">
          <div class="w-full">
            <img
              class="my-2 w-full h-full"
              v-bind:src="imagen.url"
              alt="photo"
            />
            <p
              class="
                hover:bg-gray-600
                text-gray-300 text-xs
                font-semibold
                bg-gray-700
                px-2
                py-1
                rounded-full
              "
            >
              {{ imagen.id }}
            </p>
            <img
              class="my-2 w-full h-full"
              v-bind:src="imagen.thumbnailUrl"
              alt="photo"
            />
            <p
              class="
                hover:bg-gray-600
                text-gray-300 text-xs
                font-semibold
                bg-gray-700
                px-2
                py-1
                rounded-full
              "
            >
              {{ imagen.id }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { global } from "../resource/global";
import { ref } from "@vue/reactivity";
import { computed, onMounted } from "vue";
import axios from "axios";
export default {
  setup() {
    const imagenes = ref([]);
    const isPar = ref(null);
    onMounted(async () => {
      imagenes.value = await axios.get(global.url).then((res) => {
        return res.data;
      });
    });

    const imagenesFilter = computed(() =>
      isPar.value === null
        ? imagenes.value
        : imagenes.value.filter((x) => {
            if (isPar.value && x.id % 2 == 0) {
              return x;
            } else if (!isPar.value && x.id % 2 != 0) {
              return x;
            }
          })
    );

    return { imagenesFilter, isPar };
  },
};
</script>

