<template>

 <navBar />
 
  <router-view/>
  <footerBar />
</template>
<script>

import navBar from './components/navBar.vue';
import footerBar from './components/footerBar.vue';
export default ({
  components:{
    navBar,
    footerBar
  },
  setup() {
    
  },
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 8px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #ffffff;
  background: #0891b2;
width: 50px;
}
</style>
